/node_modules
/public/admin/*
/public/css
/public/fonts
/public/images
/public/js
/public/storage
/public/vendor
/storage/*.key
/public/mix-manifest.json
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
storage/medialibrary/
/public/admin/admin.js
/public/admin/admin.css
