/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads/products/*
!/public/uploads/products/index.html
/public/uploads/products-mid/*
!/public/uploads/products-mid/index.html
/public/uploads/products-thumb/*
!/public/uploads/products-thumb/index.html
/public/uploads/figures/*
!/public/uploads/figures/index.html
/public/uploads/slider/*
!/public/uploads/slider/index.html
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
