.products {
    .products__parts-filters {
        background: #f7f7f7;
        margin-bottom: 30px;
        padding: 15px;

        a.active {
            font-weight: 500 !important;
            color: $secondary_color !important;
        }

        .sorting-listing-by {

            span,
            a {
                font-size: 1.4rem;
                line-height: 1;
                font-weight: 400;
                color: $primary_color;
            }

            a {
                padding-left: 10px;

                &:hover {
                    color: $secondary_color;
                }
            }
        }

        .show-by {

            a {
                font-size: 1.4rem;
                line-height: 1;
                font-weight: 400;
                color: $primary_color;
                padding-left: 10px;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }

    .product__wrapper {
        margin-bottom: 30px;

        .product__inner {
            overflow: hidden;
            height: 160px;
            display: flex;
            align-items: center;
            border-top: 1px solid $secondary_color;
        }

        .product__name {
            margin-top: 15px;

            a {
                color: $primary_color;
                line-height: 1;
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &:hover {

            a {
                color: $secondary_color !important;
            }
        }
    }

    .products__parts {

        .products__part {
            margin-bottom: 30px;
            width: 100%;

            .products__part-image,
            .products__part-name,
            .products__part-cart-price,
            .products__part-cart-qty,
            .products__part-cart-button {
                height: 94px;
                display: flex;
                align-items: center;
            }

            .products__part-cart-qty,
            .products__part-cart-button {
                margin-left: 30px;
            }

            .products__part-image {
                border-radius: 5px;
                border: 1px solid $primary_color;
                overflow: hidden;
            }

            .products__part-name {
                color: $fourth_color;
                font-size: 1.6rem;
                line-height: 1;
                font-weight: 400;
            }

            .products__part-cart-price {

                .old {
                    color: $primary_color;
                    opacity: 0.5;
                    padding-right: 5px;
                    font-size: 1.4rem;
                    text-decoration: line-through;
                }

                .current {
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: $primary_color;
                }

                .current-special {
                    color: $secondary_color;
                }
            }

            .products__part-cart-qty {

                a {
                    font-size: 1.4rem;
                    line-height: 20px;
                    color: $primary_color;
                    padding: 0 5px;
                }

                input {
                    outline: none;
                    border: 1px solid $muted_color;
                    padding: 0 5px;
                    line-height: 20px;
                    font-size: 1.6rem;
                    color: $primary_color;
                    background: #ffffff;
                    text-align: center;
                }

                input[type='number'] {
                    -moz-appearance:textfield;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

            .products__part-cart-button {

                .btn-add-to-cart {
                    background: $secondary_color;
                    outline: none;
                    border: 0;
                    color: #ffffff;
                    line-height: 20px;
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: $default_transition;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 4px 10px;

                    &:hover {
                        background: darken($secondary_color, 10%);
                        transition: $default_transition;
                    }
                }
            }
        }
    }
}
