.cart-success {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: $success_color;
    color: $white;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    display: none;
    z-index: 10;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
    }
}
