.ltr {
  direction: ltr !important;
}

.border-light-sm {
  border-color: #eef1f3 !important;
}

.text-sm {
  font-size: 1.3rem !important;
}

.text-md {
  font-size: 2rem !important;
}

.text-danger {
  color: $secondary_color !important;
}