// Colors
$primary_color: #191a1c;
$primary_color_muted: #1e1e1e;
$secondary_color: #fc0203;
$secondary_color_muted: #c21819;
$white: #ffffff;
$white2: #fcfdff;
// Transitions
$default_transition: 0.3s all ease;