// Colors
$primary_color: #191a1c;
$primary_color_muted: #1e1e1e;
$primary_color_menu: #616161;
$secondary_color: #fc0203;
$secondary_color_muted: $secondary_color;
$sidebar_background: #f6f6f6;
$third_color: #777777;
$fourth_color: #2d7dd2;
$white: #ffffff;
$white2: #fcfdff;
$bd_section: #fbfbfb;
$footer_background1: #212224;
// Transitions
$default_transition: 0.3s all ease;
