.cart {
    border: 1px solid $secondary_color;
    padding: 10px;
    margin: 10px 0;

    .cart__top {
        margin-bottom: 0;

        .cart__item-count,
        .cart__upload-document {
            width: 50%;
        }

        .cart__item-count {
            color: $primary_color;
            font-size: 1.4rem;
            line-height: 22px;
            font-weight: normal;
            text-align: left;
            max-width: 50%;

            i {
                color: $secondary_color;
                padding-right: 5px;
                font-size: 1.2rem;
            }
        }

        .cart__checkout {
            width: 50%;

            a {
                font-size: 1.4rem;
                line-height: 16px;
                padding: 2px 0;
                margin: 0;
                font-weight: normal;
                display: block;
                width: 100%;
                text-align: center;
                color: #ffffff;
                background: $secondary_color;
                border-radius: 3px;
                transition: $default_transition;

                &:hover {
                    background: darken($secondary_color, 10%);
                    transition: $default_transition;
                }
            }
        }
    }

    .cart_bottom {

        .cart__price,
        .cart__checkout {
            width: 50%;
            text-align: center;
        }

        .cart__price {
            color: $secondary_color;
            font-size: 1.8rem;
            line-height: 20px;
            font-weight: normal;
        }
    }
}

.cart-preloader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;
    opacity: .8;

    i {
        height: 60px;
        width: 60px;
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        top: calc(50% - 60px);
        font-size: 60px;
        color: $secondary_color;
    }
}

.cart-table {
    table {
        thead tr {
            font-size: 12px;

            th {
                padding: 1.2rem;
            }
        }

        tbody tr {
            line-height: 35px;
            font-size: 14px;
        }
    }
}

.cart-page__proceed {
    margin-top: 0;

    .cart-page__table {
        margin-bottom: 30px;

        table {

            thead {

                tr {

                    th {
                        font-size: 1.4rem;
                        padding: 5px;
                    }
                }
            }

            tbody {

                tr {

                    td {
                        font-size: 1.4rem;
                        padding: 5px;

                        &:last-child {
                            font-size: 1.4rem;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .total-price {
        margin-top: 30px;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1;
    }
}

.cart-success {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: #41ad48;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    display: none;
    z-index: 10;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
    }
}
