.form-group {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        width: 100%;
        font-size: 1.4rem;
        color: $primary_color;
        font-weight: 400;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
    }

    input,
    textarea,
    button,
    select {
        outline: none !important;
    }

    input,
    textarea,
    select {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid $primary_color;
        border-radius: 4px;
        transition: $default_transition;
        box-shadow: none !important;
        color: $primary_color;
        padding: 5px 12px;
        height: 32px;

        &:focus {
            border-color: $secondary_color;
            box-shadow: none;
        }
    }

    textarea {
        min-height: 150px;
        resize: vertical;
    }
}
