.home-slider {
    .carousel-item {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.blackout:after {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
        }
    }

    .carousel-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .carousel-sub-title {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .carousel-read-more {
        margin-bottom: 10px;

        a {
            padding: 3px 10px;
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    .home-slider {
        .carousel-item {
            height: 300px;
        }

        .carousel-title {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .carousel-sub-title {
            font-size: 1.4rem;
            margin-bottom: 20px;
        }

        .carousel-read-more {
            margin-bottom: 15px;

            a {
                padding: 4px 13px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .home-slider {
        .carousel-item {
            height: 400px;
        }

        .carousel-title {
            font-size: 2.5rem;
            margin-bottom: 30px;
        }

        .carousel-sub-title {
            font-size: 1.6rem;
            margin-bottom: 30px;
        }

        .carousel-read-more {
            margin-bottom: 20px;

            a {
                padding: 5px 15px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .home-slider .carousel-item {
        height: 500px;
    }
}