.pagination__wrapper {

    .pagination {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        list-style: none;
        border-radius: 0;
        margin: 30px 0;

        li {

            a,
            span {
                padding: 5px 15px;
                line-height: 1.25;
                color: $text_muted;
                border: 1px solid $border_color;
                background: $white;
                font-size: 1.6rem;
                border-right: 0;
                font-weight: 300;
            }

            a {
                &:hover {
                    color: $white;
                    background: $secondary_color;
                    border-color: $secondary_color;
                }
            }

            &:last-child {
                a, span {
                    border-right: 1px solid $border_color;

                    &:hover {
                        border-color: $secondary_color;
                    }
                }
            }

            &.active {
                a,
                span {
                    color: $white;
                    background: $secondary_color;
                    border-color: $secondary_color;
                }
            }

            &.disabled {
                cursor: no-drop;
            }
        }
    }
}

.rtl .pagination__wrapper .pagination {
    li {
        &:first-child {
            a, span {
                border-right: 1px solid $border_color;

                &:hover {
                    border-color: $secondary_color;
                }
            }
        }
    }
}
