.product-counter {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        padding: 4.5px 0;
        max-width: 40px;
        max-height: 26px;
        line-height: 15px;
        border: 1px solid $border_color;
        border-radius: 4px;
        text-align: center;
        color: $third_color;
        font-size: 13px;
        -moz-appearance: textfield;
    }

    button {
        position: relative;
        line-height: 1.5;
        background: transparent;
        border: none;
        transition: .3s ease all;

        &:focus{
            outline: none;
        }

        &:not([disabled]):hover i {
            color: $secondary_color;
        }

        i {
            color: $blue_grey_light;
        }
    }

    .sub-qty {
        top: 1px;
    }
}