// Headings
h1.homepage {
    font-weight: 400;
    text-transform: uppercase;
    color: $primary_color;
    font-size: 6rem;
    line-height: 1;
    font-family: MoolBoran, Roboto;
    margin-top: 50px;
    margin-bottom: 25px;

    span {
        font-size: 7rem;
        font-weight: 500;
    }

    .red {
        color: $secondary_color;
    }
}

h2,
h1.page-title {
    position: relative;
    font-size: 4rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 33px;
    font-weight: 400;
    color: $primary_color;

    &:after {
        content: '';
        position: absolute;
        bottom: 18px;
        left: 0;
        width: 40px;
        height: 3px;
        background: $secondary_color_muted;
    }
}

.text-right h2:after,
h1.page-title.text-right:after {
    right: 0 !important;
    left: auto;
}

h1.page-title {
    margin-top: 30px;
}
// Links and paragraphs
a {
    text-decoration: none !important;
    outline: none !important;
    transition: $default_transition;

    &:hover {
        transition: $default_transition;
    }
}

p {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

strong,
b {
    font-weight: 500;
}
