// SVG icons
$svgIcons: equipment, parts, services, search;

@each $svgIcon in $svgIcons {
  .#{$svgIcon}-icon {
    background-image: url('../images/icons/#{$svgIcon}.svg');
  }
}

// PNG icons
$pngIcons: facebook, youtube, whatsapp, instagram, linkedin, twitter,
           facebook-mono, youtube-mono, whatsapp-mono, instagram-mono, linkedin-mono, twitter-mono;

@each $pngIcon in $pngIcons {
  .#{$pngIcon}-icon {
    background-image: url('../images/icons/#{$pngIcon}.png');
  }
}