.parts {
    table {
        font-size: 12px;

        tr {
            line-height: 45px;
            border-bottom: 1px solid #eef1f3 !important;
        }

    }
}

.parts-sorting__label {
    font-size: 11px;
}