.product {
    .product__purchase {
        padding: 20px;

        p {
            margin-bottom: 0;
        }

        .product__purchase-top {
            margin-bottom: 15px;

            .product__purchase-price {
                line-height: 24px;

                .product-price {
                    color: $secondary_color;
                    font-weight: 500;
                    font-size: 1.8rem;

                    small {
                        color: $text_muted;
                    }
                }
            }
        }

        .product__purchase-bottom {

            .in-stock {
                font-size: 1.8rem;
                font-weight: 400;
                color: $text_muted;

                i {
                    color: #41ad48;
                    padding-right: 5px;
                }
            }

            .out-stock {

                i {
                    color: $secondary_color;
                }
            }
        }

        .product__short-description {
            padding-top: 15px;
            font-size: 14px;
            line-height: 18px;
            color: $text_muted;
        }
    }
}

.product__description {
    h2 {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    table {
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 22px;

        th {
            padding-top: 25px;
            padding-bottom: 10px;
            border-top: none;
            color: $primary_color;
            font-weight: 400;

            &:first-child {
                font-weight: 700;
                font-size: 14px;
                color: $secondary_color;
            }
        }

        td {
            padding: 6px 10px;
            border-top: none;

            &:first-child {
                color: $third_color;
            }
        }

        tr {
            border-bottom-color: $border_color;
            border-bottom-style: dotted;
            border-bottom-width: 1px;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}