.product {
    margin-bottom: 30px;

    .product__images {

        .mip {
            padding: 0 7.5px;
        }

        .featured-image {
            border: 1px solid #f6f6f6;
        }

        .additional-images {

            .additional-image {
                overflow: hidden;
                margin-bottom: 15px;
                border: 1px solid #f6f6f6;

                &:last-child {
                    margin-bottom: 0;
                }

                a {

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .product__purchase {
        padding: 15px;

        p {
            margin-bottom: 0;
        }

        .product__purchase-top {
            margin-bottom: 15px;

            .product__purchase-price {

                p {
                    line-height: 24px;

                    .old {
                        color: $primary_color;
                        opacity: 0.5;
                        padding-right: 5px;
                        font-size: 1.4rem;
                        text-decoration: line-through;
                    }

                    .current {
                        color: $secondary_color;
                        font-weight: 500;
                        font-size: 2.4rem;
                    }
                }
            }

            .product__qty {

                a {
                    font-size: 1.4rem;
                    line-height: 24px;
                    color: $primary_color;
                }

                input {
                    outline: none;
                    border: 1px solid $primary_color_muted;
                    padding: 0 5px;
                    line-height: 24px;
                    font-size: 1.6rem;
                    color: $primary_color;
                    background: #ffffff;
                    text-align: center;
                }

                input[type='number'] {
                    -moz-appearance:textfield;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

            .btn-add-to-cart {
                padding: 0;
                background: $secondary_color;
                outline: none;
                border: 0;
                color: #ffffff;
                line-height: 24px;
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                text-transform: uppercase;
                transition: $default_transition;
                cursor: pointer;

                &:hover {
                    background: darken($secondary_color, 10%);
                    transition: $default_transition;
                }
            }
        }

        .product__purchase-bottom {

            .in-stock {
                font-size: 2rem;
                font-weight: 400;
                color: $primary_color;

                i {
                    color: #41ad48;
                    padding-right: 5px;
                }
            }

            .out-stock {

                i {
                    color: $secondary_color;
                }
            }
        }

        .product__short-description {
            margin-top: 15px;

            p {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .product__description {
        margin-top: 30px;
        padding: 15px;

        h4 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            color: $primary_color;
            position: relative;
            padding-bottom: 10px;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40px;
                height: 2px;
                background: $secondary_color;
            }
        }

        p {
            font-size: 1.4rem;
            line-height: 1.3;
            margin-bottom: 10px;
            color: $primary_color;
        }

        strong,
        b {
            font-weight: 500;
        }

        ul,
        ol {

            li {
                font-size: 1.4rem;
                line-height: 1.3;
                margin-bottom: 10px;
                color: $primary_color;
            }
        }
    }
}
