.products {
    margin-top: 30px;

    .product__wrapper {
        margin-bottom: 30px;

        .product__inner {
            overflow: hidden;
            height: 160px;
            display: flex;
            align-items: center;
            border-top: 1px solid $secondary_color;
        }

        .product__name {
            margin-top: 15px;

            a {
                color: $primary_color;
                line-height: 1;
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &:hover {

            a {
                color: $secondary_color !important;
            }
        }
    }

    .products__parts {

        .products__part {
            margin-bottom: 30px;
            width: 100%;
        }
    }
}
