.sidebar-filter {
    background: $white;

    label.custom-control-label {
        font-size: 14px;
        line-height: 14px;

        &::after,
        &::before {
            top: 0;
            width: 14px;
            height: 14px;
        }
    }

    .custom-checkbox .custom-control-input {
        &:checked ~ .custom-control-label::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
            background-size: 9px;
        }

        &:checked ~ .custom-control-label::before {
            border-color: #fc0102;
            background-color: #fc0102;
            transition: .25s cubic-bezier(0.4, 0, 0.45, 1) all;
        }
    }

    .sidebar-filter__item__title {
        padding: 15px;
        border-bottom: 1px solid #eef1f3;
        font-size: 16px;
        color: $third_color;
    }

    .sidebar-filter__item__filters {
        padding: 15px;

        .sidebar-filter__item__filter {
            padding-bottom: 15px;

            label {
                padding-left: 10px;
                color: $text_muted;
            }
        }

        .sidebar-filter__item__filter:last-child {
            padding-bottom: 0;
        }
    }
}





