.sidebar {

    h3 {
        color: $primary_color;
        font-size: 1.8rem;
        line-height: 1;
        margin-top: 45px;
        margin-bottom: 20px;
        font-weight: normal;
        padding-left: 15px;
    }

    .sidebar__back {
        padding-left: 15px;
        margin-bottom: 10px;

        a {
            font-size: 1.2rem;
            color: $primary_color_menu;
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding: 15px;
        background: $sidebar_background;

        li {
            margin-bottom: 7.5px;

            a {
                font-size: 1.6rem;
                color: $primary_color_menu;

                &:hover {
                    color: $secondary_color;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.tree-sidebar {
    margin-top: 15px;

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        background: $sidebar_background;

        li {
            position: relative;
            padding: 7.5px 15px;

            &:first-child {
                padding-top: 15px !important;
            }

            &:last-child {
                padding-bottom: 15px !important;
            }

            a {
                font-size: 1.3rem;
                color: $primary_color_menu;
                display: block;
                width: 100%;
                position: relative;
                padding-right: 15px;

                .menu_dropdown {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 99999999999;
                    font-size: 1rem;
                }
            }

            ul {
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 999999;
                min-width: 100px;
                white-space:nowrap;
            }
        }

        li.expanded:hover > ul {
            display: block;
        }

        .active > a {
            color: $secondary_color;
        }
    }

    ul li:hover > a {
        color: $secondary_color;
    }

    ul li > ul {
        display: none;
    }

    ul.tree {

        li {

            &:last-child {
                margin-bottom: 0;
            }

            ul {
                display: none;
            }
        }
    }
}
