.single-news__body img {
    width: 100%;
    height: auto;
    text-align: center;
}

@include for-desktop {
    .single-news__body img{
        padding-bottom: $card_bottom_gap;
        text-align: inherit;
    }
}