@media screen and (max-width: 992px) {
    .single-post__body img {
        width: 100%;
        height: auto;
        text-align: center;
    }
}

@include for-tablet-landscape {
    .single-post__body img {
        padding-bottom: $card_bottom_gap;
    }
}