.footer-top {
    padding: 50px 0;
    background: $primary_color_light;
}

.footer-top__title {
    margin-bottom: 20px;
    color: $muted_color;
}

.footer-top__slogan {
    margin-top: 40px;

    p {
        color: $muted_color;
        margin-bottom: 0;
    }
}

.footer-top__menu {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;

        li {
            padding: 5px 0;

            &.active > a {
                color: $white;
            }

            a {
                font-size: 1.2rem;
                color: $muted_color;
                transition: $default_transition;

                &:hover {
                    color: $white;
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Socials
.footer-top__social-item {
    margin-bottom: 15px;
}

.footer-top__social-icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-top__social-label {
    padding: 0 50px;
    display: inline-block;
    line-height: 35px;
    color: $muted_color_ultra_light;
    transition: $default_transition;

    &:hover {
        color: darken($muted_color_ultra_light, 20%);
    }
}

// Contact Us column
.footer-top__contact-item {
    margin-bottom: 20px;

    a:hover .footer-top__contact-text {
        color: darken($muted_color_ultra_light, 20%);
    }
}

.footer-top__contact-icon {
    color: $secondary_color_muted;
    font-size: 20px;
}

.footer-address-icon {
    height: 60px;
    width: 27px;
    float: left;

    & ~ .footer-top__contact-text {
        padding: 0;
    }
}

.rtl .footer-address-icon {
    float: right;

    & ~ .footer-top__contact-text {
        padding: 0;
    }
}

.footer-top__contact-text {
    padding-left: 10px;
    color: $muted_color_ultra_light;
    font-size: .85rem;
    vertical-align: text-top;
    transition: $default_transition;
}

.rtl .footer-top__contact-text {
    padding-right: 15px;
    padding-left: 0;
}

// Footer bottom
.footer-bottom {
    padding: 15px 0;
    background: $primary_color;
}

.footer__copyright-text {
    margin: 0;
    font-size: .9rem;

    a {
        color: $white;
    }
}