.header {
    position: relative;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}

.header-contact, .lang__header span {
    font-size: 13px;
}

.header-top__social-icon {
    margin: 0 3px;
    height: 1.1rem;
    width: 1.1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@include for-tablet-portrait {
    .header-contact, .lang__header span {
        font-size: 14px;
    }

    .header-top__social-icon {
        height: 1.2rem;
        width: 1.2rem;
    }
}

.header-top {
    width: 100%;
    border-bottom: 1px solid $border-color;

    .header-top-contacts,
    .header-top-lang {
        line-height: 2rem;
        font-size: .9rem;
    }

    a, i, span {
        color: $muted_color;
    }

    .header-top-contacts {
        a {
            margin-right: 20px;
            transition: $default_transition;

            i {
                margin-right: 5px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .divider {
        line-height: 29px;
        padding: 0 10px 0 5px;
    }

    .header-top-lang {
        width: 93px;
        position: relative;
        left: 0;

        &:hover {
            cursor: pointer;
        }

        .lang__body {
            display: none;
            position: absolute;
            background: $white;
            color: $muted_color !important;
            border: 1px solid $border_color;
            top: 32px;
            right: 0;
            z-index: 10;

            .lang__body_switcher {
                margin-bottom: 0 !important;
                padding: 0 !important;
                width: 100px;
                list-style: none;
                font-size: 15px;

                .lang__body_switcher-item {
                    padding: 3px;

                    &:first-child {
                        border-bottom: 1px solid $border-color;
                    }

                    &:hover {
                        background: $muted_color_ultra_light;
                        cursor: pointer;

                        > input,
                        > label {
                            cursor: pointer;
                        }
                    }

                    input {
                        display: none;
                    }

                    .lang__body_switcher-text {
                        margin-bottom: 0;
                        padding: 0 5px;

                        img {
                            margin-top: -2px;
                            width: 16px;
                        }

                        span {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.rtl .header-top .header-top-lang .lang__body {
    left: 0;
    right: auto;
}














.header-main {
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    transition: .6s all;
}

.header__menu {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;


    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            text-align: center;
            line-height: 1.8rem;

            &.active a {
                color: $secondary_color;
            }

            a {
                color: $muted_color;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }

    &.opened {
        ul {
            li {
                height: auto;
                font-size: inherit;
            }
        }
    }
}












.header-main__cart a,
.header-main_search {
    color: $muted_color;
    font-size: 1.2rem;
    transition: $default_transition;

    &:hover {
        color: $secondary_color;
        cursor: pointer;
    }
}

.header-main__search {
    //padding: 0 25px;
    padding: 0 15px;
}

.header-main__cart {
    position: relative;
}

.header-main__cart-amount {
    position: absolute;
    top: -8px;
    padding: 3px;
    border-radius: 4px;
    font-size: 9px;
    background: $secondary_color;
    color: $white;
    font-weight: 900;
}

@include for-tablet-portrait {
    .header__menu {
        display: flex;
        align-self: center;
        justify-content: center;
        position: unset;
        height: auto;
        z-index: auto;

        ul {
            display: flex;

            li {
                display: flex;
                padding: 0 .4rem;
                line-height: 2rem;

                &.active a {
                    border-bottom: 3px solid $secondary_color;
                }
            }
        }
    }
}

@include for-tablet-landscape {
    .header__menu {
        ul li {
            padding: 0 .4rem;
        }
    }
}